{% set grossAmounts = [] %}
{% set netAmounts = [] %}
{% set sales = [] %}
{% set renewals = [] %}

{% for monthlyTotal in monthlyTotals %}
    {% set grossAmounts = grossAmounts|merge([monthlyTotal.grossAmount]) %}
    {% set netAmounts = netAmounts|merge([monthlyTotal.netAmount]) %}
    {% set sales = sales|merge([monthlyTotal.count]) %}
{% endfor %}
{% for monthlyRenewalTotal in monthlyLicenseRenewalTotals.renewals %}
    {% set renewals = renewals|merge([monthlyRenewalTotal]) %}
{% endfor %}

<div id="chart-monthly-totals" class="chart"></div>


{% js %}

    var options = {
        colors: palette,
        chart: {
            width: '100%',
            height: 400,
            type: 'area',
        },
        title: {
            text: 'Monthly Sales',
            style: {
                fontSize: '16px',
            },
        },
        tooltip: {
            y: [
                {
                    formatter: (value) => formatCurrency(value),
                },
                {
                    formatter: (value) => formatCurrency(value),
                },
                {},
                {
                    formatter: (value) => formatCurrency(value),
                },
            ],
        },
        series: [
            {
                name: 'Gross Sales',
                data: {{ grossAmounts|json_encode|raw }},
            },
            {
                name: 'Net Profit',
                data: {{ netAmounts|json_encode|raw }},
            },
            {
                name: 'Number of Sales',
                data: {{ sales|json_encode|raw }},
            },
            {
                name: 'Renewals',
                data: {{ renewals|json_encode|raw }},
            },
        ],
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5,
            },
            xaxis: {
                lines: {
                    show: false,
                },
            },
        },
        xaxis: {
            categories: {{ months|json_encode|raw }},
            labels: {
                format: 'MMM yyyy',
                style: {
                    colors: '#888',
                },
            },
        },
        yaxis: [
            {
                seriesName: 'Gross Sales',
                title: {
                    text: currency,
                },
                labels: {
                    style: {
                        colors: '#888',
                    },
                    formatter: function(value) {
                        return value.toLocaleString('{{ currentSite.language }}');
                    },
                }
            },
            {
                seriesName: 'Gross Sales',
                show: false,
            },
            {
                seriesName: 'Number of Sales',
                opposite: true,
                title: {
                    text: "Number of Sales"
                },
                labels: {
                    style: {
                        colors: '#888',
                    },
                    formatter: function(value) {
                        return parseInt(value);
                    },
                }
            },
            {
                seriesName: 'Gross Sales',
                show: false,
            },
        ],
        legend: {
            position: 'top',
            itemMargin: {
                horizontal: 5,
                vertical: 4,
            },
        },
    };

    var chart = new ApexCharts(document.querySelector("#chart-monthly-totals"), options);
    chart.render();

{% endjs %}
